#logged-in-info {
    float: right;
   margin-top: 6px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

.jumbotron {
    background-image:  url(../img/background.jpg);
    background-attachment: fixed;
    padding: 6em ;
    background-size: cover;

 }

body>header a {
    display: inline-block;
    padding: 0px 5px;
    font-size: 1.2em;
}
