<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>
<header th:replace="layout :: site-header"></header>


<div class="sidenav">
    <h2 style="padding-left: 10px; color: #804d4d">Recent Posts</h2>
    <a href="/"  th:each="p : ${latest5posts}" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}"></a>

</div>
<main id="posts" class="container ">
    <!--/*@thymesVar id="latest3posts" type="PostServicStubImplTest"*/-->
    <article >
        <!--<br/>-->
        <div class="article-content">
            <h2 class="title " th:text="${post.title}">Post Title</h2>
            <p class="content" th:utext="${post.body}">Post content</p>
            <div class="date ">
                <i >Posted on</i>
                <span th:text="${#dates.format(post.calendar, 'dd MMMMMMM yyyy')}"> 07-May-2016</span>
                <span th:if="${post.author}" th:remove="tag">
                <i>by</i>
                <span th:text="${post.author.name!=null ? post.author.name : post.author.login}">
                    Daga nna
                </span>
            </span>
            </div>
        </div>
    </article>
</main>

<!--Now is: <b th:text="${execInfo.now.time}">date and time</b>-->

<footer th:replace="layout :: site-footer" ></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>